<div class="container-fluid">
  <div class="container mt-5 border">
    <div class="row justify-content-center p-4"> 
      <div class="col-sm-12 col-md-3 col-lg-2 text-center  pt-2">
        <img src="./assets/images/logoUdc.png" class="rounded mx-auto d-block" alt="LogoUDC.png" width="150" height="150">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4  text-center  pt-sm-1 pt-md-4 pt-lg-4">
        <h1 class="fBlack">Universidad De Colima</h1>
        <h2 class="fHeavy">Bachillerato Técnico #25</h2>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-2 pt-2 text-center ">
        <h5 class="fHeavy">Brandon Yoel Hernández Ascencio.</h5>
        <h5 class="fHeavy">Técnico analísta programador</h5>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-4 ">
          <ol class="list-unstyled text-center">
            <li>
              <h4 class="fBold">Actividad:</h4>
              <p class="fMedium">Proyecto Final</p>
            </li>
            <li>
              <h4 class="fBold">Numero de cuenta:</h4>
              <p class="fMedium">20185355</p>
            </li>
            <li>
              <h4 class="fBold">Docente:</h4>
              <p class="fMedium">Amílcar David González Bernal</p>
            </li>
            <li>
              <h4 class="fBold">Materia:</h4>
              <p class="fMedium">Programación web</p>
            </li>
            <li>
              <h4 class="txt300 fBold">5° "A"</h4>
            </li>
          </ol>
      </div>
    </div>
    <div class="row m-2 align-items-end">
      <div class="col-12 align-self-end text-right">
        <h6 style="color: rgb(153, 153, 153);" >Creado el 26 de junio del 2021</h6>
      </div>
    </div>
  </div>
</div>